/H9K_to_OBS_mastering\ Project/Backup
/H9K_to_OBS_mastering\ Project/Desktop.ini
/H9K_to_OBS_mastering\ Project/Ableton\ Project\ Info/AProject.ico

.DS_Store 
.AppleDouble
.LSOverride

Icon?
![iI]con[_a-zA-Z0-9]